@import "~tailwindcss/preflight";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.spacer {
  height: 600px;
}
.dotted {
  background-color: rgba(227, 213, 156, 0.27);
  // background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e7862a' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  min-height: 450px;
  position: relative;
  z-index: 2;
}
.dotted > svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: red;
}

.toggle-line {
  width: 100%;
  height: 0;
  left: 0;
  position: fixed;
  top: 200px;
  border: 1px solid rgb(251, 156, 156);
}

body {
  height: 100%;
}

#LogosDemo {
  justify-content: space-between;
  img {
    max-height: 50px;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  .img-container {
    justify-content: center;
  }
}

.swing-n-fade {
  animation: swing-n-fade 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.swing-out-n-fade {
  animation: swing-out-n-fade 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

@keyframes swing-n-fade {
  0% {
    transform: rotateX(-70deg);
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
}

@keyframes swing-out-n-fade {
  0% {
    transform: rotateX(0deg);
    transform-origin: bottom;
    opacity: 1;
  }
  100% {
    transform: rotateX(100deg);
    transform-origin: bottom;
    opacity: 0;
  }
}
input[type="range"].vertical {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  transform: rotate(180deg);
  width: 8px;
  height: 175px;
  padding: 0 5px;
}
